
@{
    Layout = "~/Views/Shared/_Layout登入.cshtml";

}

<content>
    <style>
        /*首頁*/
        .map_img {
            width: 360px;
            height: 360px;
        }

        .map_border {
            border-radius: 10px;
            border-color: #FCD492;
            border-width: 2px;
            border-style: solid;
            padding-top: 7px;
            display: flex;
            /*align-items: center;*/
        }

        .map_text {
            margin: 20px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-6 col-xl-5 container">
                <br>
                <h1 style="color:  #F2EDD8;">
                    【墨臺】愛‧分享與傳承
                </h1>
            </div>
            <div class=" col-12 col-md-6 col-xl-12" style="display: flex;justify-content: center;">
                <h3 style="color: #FCD492">
                    藝術品專賣店，提供超越您期待的藝術品
                </h3>
            </div>
            <div class=" col-12 col-md-6 col-xl-12">
            </div>
        </div>
    </div>

    <!-- 影片 -->
    <div class="container">
        <div class="row" style="display:flex;justify-content:center;margin:70px 0">
            <iframe width="900" height="506" src="https://www.youtube.com/embed/O6xupBejB0c?mute=1&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="container">
        <div class="row col-12">
            <h4 style=" color:#FCD492">關於墨臺</h4>
            <h5 style="color: #F2EDD8;">
                創辦人以愛‧分享與傳承作為宗旨，懷抱著對中華文化及藝術的熱愛，10年間往返中國大陸數十回，
                親身走訪文化發源地，除練就一身藝術鑑賞的好本領，更蒐羅各式具有濃厚文化色彩的珍稀藝術作品。
            </h5>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-6">
                <br>
                <br>
                <h4 style="color:#FCD492">墨臺起源</h4>
                <h5 style="color: #F2EDD8;">
                    2012年，從孩子手中接過其視若珍寶的糖果，並用稚嫩的嗓音說道「好東西，要跟好朋友分享」，
                    就這天外飛來的一筆，墨臺懵懵懂懂地踏上分享與傳承中華文化的堅定旅程。 藝術作品不僅止於視覺表象，
                    更蘊含著精神內在。每一筆、一畫、一刀、一鑿，都是作者用靈魂凝鍊的線條；其一顰、一笑、一動、一靜，
                    都是您自身情感與經驗的投射。 誠摯推薦您透過不同的質材、氣味、型態及寓意，點亮每日生活的居家與商業空間。
                </h5>
                <br>
                <br>
            </div>
            <div class="col-12 col-md-6 col-xl-6">
                <br>
                <br>
                <h4 style="color:#FCD492">墨臺宗旨</h4>
                <h5 style="color: #F2EDD8;">
                    藝術作品不僅止於視覺表象，
                    更蘊含著精神內在。每一筆、一畫、一刀、一鑿，都是作者用靈魂凝鍊的線條；其一顰、一笑、一動、一靜，
                    都是您自身情感與經驗的投射。 誠摯推薦您透過不同的質材、氣味、型態及寓意，點亮每日生活的居家與商業空間。
                </h5>
                <br>
                <br>
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="row">
            <div class=" col-12 col-md-12 col-xl-12">
                <h3 style="color: #FCD492">
                    分店聯絡資訊
                </h3>
                <br />
                <br />
            </div>
            <div class="map_border">
                <div class="map_text">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.418519491769!2d121.34653021544577!3d24.951871547731827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681eab7ef87ed9%3A0x13713fc9acd92229!2zMjM55paw5YyX5biC6bav5q2M5Y2A6Zm255O36KGXMTjomZ8!5e0!3m2!1szh-TW!2stw!4v1602348657087!5m2!1szh-TW!2stw"
                            class="map_img" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
                <div class="map_text">
                    <h4 style="color: #FCD492"> 鶯歌光點</h4>
                    <h5 style="color: #F2EDD8;"> 營業時間：10:00-19:00 </h5>
                    <h5 style="color: #F2EDD8;"> 電話：(02)2677-3306</h5>
                    <h5 style="color: #F2EDD8;"> 地址：新北市鶯歌區陶瓷街18號(E區-12)</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row justify-content-end">
            <div class="map_border">
                <div class="map_text">
                    <h4 style="color:#FCD492">礁溪店(麒麟飯店) </h4>
                    <h5 style="color: #F2EDD8;">營業時間：13:00-21:50 </h5>
                    <h5 style="color: #F2EDD8;">電話：0988-273-032</h5>
                    <h5 style="color: #F2EDD8;">地址：宜蘭縣礁溪鄉礁溪路五段116號</h5>
                </div>
                <div class="map_text">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.069219158511!2d121.7700708154443!3d24.827306352698972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3467fa49be38e8b7%3A0x198882aa2adbaf11!2zMjYy5a6c6Jit57ij56SB5rqq6YSJ56SB5rqq6Lev5LqU5q61MTE26Jmf!5e0!3m2!1szh-TW!2stw!4v1602348893418!5m2!1szh-TW!2stw"
                            class="map_img" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="map_border">
                <div class="map_text">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.0760184914607!2d120.21788971542247!3d22.94742732488969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e74445750401b%3A0xa3981f475695406c!2zNzE35Y-w5Y2X5biC5LuB5b635Y2A5aSn5ZCM6Lev5LiJ5q61NzU16Jmf!5e0!3m2!1szh-TW!2stw!4v1602349001213!5m2!1szh-TW!2stw"
                            class="map_img" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
                <div class="map_text">
                    <h4 style="color:#FCD492">台南家樂福新仁店</h4>
                    <h5 style="color: #F2EDD8;">營業時間：10:00-22:00 </h5>
                    <h5 style="color: #F2EDD8;">電話：(06)267-9092</h5>
                    <h5 style="color: #F2EDD8;">地址：台南市仁德區大同路三段755號</h5>
                    <br>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row justify-content-end">
            <div class="map_border">
                <div class="map_text">
                    <br>
                    <h4 style="color:#FCD492">鳳山店 </h4>
                    <h5 style="color: #F2EDD8;">營業時間：預約制 </h5>
                    <h5 style="color: #F2EDD8;">電話：(07)719-7029</h5>
                    <h5 style="color: #F2EDD8;">地址：高雄市鳳山區三民路52號</h5>
                </div>
                <div class="map_text">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.851070819775!2d120.36014831541878!3d22.62203593685419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e1b411fe521e9%3A0xb74c4875e5369ce7!2zODMw6auY6ZuE5biC6bOz5bGx5Y2A5LiJ5rCR6LevNTLomZ8!5e0!3m2!1szh-TW!2stw!4v1602349028870!5m2!1szh-TW!2stw"
                            class="map_img" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
        <br />
    </div>

</content>